@import "tailwindcss";

@theme {
  --color-background: #F0F9FF;
  --color-sky-900: #0C4A6E;
  --color-sky-800: #075985;
  --color-sky-600: #0284C7;
  --color-sky-500: #0EA5E9;
  --color-sky-100: #E0F2FE;
  --color-sky-50: #F0F9FF;

  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@utility animate-scroll {
  animation: scroll 40s linear infinite;
}

@utility animate-blob {
  animation: blob 7s infinite;
}

@utility animation-delay-2000 {
  animation-delay: 2s;
}

@utility animation-delay-4000 {
  animation-delay: 4s;
}

@layer base {
  body {
    @apply bg-background text-slate-900;
    font-family: var(--font-sans);
  }
}